# Forge config parameters
PRIVATE_KEY=deployer_private_key_(needs_to_be_funded!)
RPC_URL=rpc_url_for_deployment_chain

# Pinata IPFS Configuration
PINATA_API_KEY=your_pinata_api_key_here
PINATA_API_SECRET=your_pinata_api_secret_here
PINATA_JWT=your_pinata_jwt_here
PINATA_GATEWAY=your_pinata_gateway_domain_here
