[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/newton-contracts"]
	path = lib/newton-contracts
	branch = main
	url = https://github.com/newt-foundation/newton-contracts
